<ion-content class="ion-padding">
  <h1 class="ion-text-center">Detalhes</h1>

  <ng-container *ngIf="!loading; else loadingTemplate">
    <ion-grid class="pokemon-detail-grid">
      <ion-row class="navigation-buttons">
        <ion-col size="6">
          <ion-button expand="block" color="dark" (click)="goToPrevious()" [disabled]="pokemonId <= 1">← Anterior</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="dark" (click)="goToNext()" [disabled]="pokemonId >= pokemonLimit">Próximo →</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-row">
        <!-- Left side: large image -->
        <ion-col size="12" size-md="5" class="image-col">
          <ion-card class="image-container">
            <img [src]="pokemon?.highResImage" [alt]="pokemon?.name" class="pokemon-image-large" />
            <div
              class="background-image"
              [ngStyle]="{ 'background-image': habitatBackground }"
            ></div>
          </ion-card>
        </ion-col>

        <!-- Right side: info -->
        <ion-col size="12" size-md="7">
          <ion-card class="info-card">
            <ion-card-header>
              <ion-card-title>{{ pokemon?.name | titlecase }} - Nº {{ pokemon?.id }}</ion-card-title>
            </ion-card-header>

            <ion-card-content class="card-content">
              <div class="basic-info">
                <div>
                  <p><strong>Altura:</strong></p>
                  <p>{{ pokemon?.height }}</p>
                </div>

                <div>
                  <p><strong>Sexo:</strong></p>
                  <p>{{ genderLabel }}</p> <!-- Estático por enquanto -->
                </div>

                <div>
                  <p><strong>Peso:</strong></p>
                  <p>{{ pokemon?.weight }}</p>
                </div>
                
                <div>
                  <p><strong>Habilidades:</strong></p>
                  <div class="habilities">
                    <span *ngFor="let ability of abilities">{{ ability | titlecase }}</span>
                  </div>
                </div>
              </div>

              <p><strong>Habitat:</strong> {{ pokemon?.habitat }}</p>

              <div>
                <p><strong>Tipos:</strong></p>
                <div class="label-container">
                  <span class="type-label" *ngFor="let type of types" [ngStyle]="{'background-color': getColorForType(type)}">
                    {{ type }}
                  </span>
                </div>
              </div>

              <div>
                <p><strong>Fraquezas:</strong></p>
                <div class="label-container">
                  <span class="type-label weakness" *ngFor="let weak of weaknesses" [ngStyle]="{'background-color': getColorForType(weak)}">
                    {{ weak }}
                  </span>
                </div>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Evolução
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="loading-container">
      <p>Carregando informações...</p>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
