<ion-row class="pagination-container">
  <ion-text class="pagination-counter">
    Página <strong>{{ currentPage }}</strong> de <strong>{{ totalPages }}</strong>
  </ion-text>
  <div class="page-btns">
    <ion-button color="dark" fill="outline" (click)="goToFirst()" [disabled]="currentPage === 1">
      &lt;&lt;
    </ion-button>

    <ion-button color="dark" fill="solid" (click)="goToPrevious()" [disabled]="currentPage === 1">
      &lt;
    </ion-button>

    <ion-button color="dark" fill="solid" (click)="goToNext()" [disabled]="currentPage === totalPages">
      &gt;
    </ion-button>

    <ion-button color="dark" fill="outline" (click)="goToLast()" [disabled]="currentPage === totalPages">
      &gt;&gt;
    </ion-button>
  </div>
</ion-row>
