:host {
  ion-content {
    --background: var(--dark-blue);
  }
}

.favorites-grid {
  padding: 0;
}

h2 {
  font-family: fantasy;
}

@media (min-width: 760px) {
  .favorites-grid {
    padding: 0 15rem;
  }
}