:host {
    ion-content {
        --background: var(--dark-blue);
    }
}

.home-grid {
    padding: 0;
}

h1 {
    font-family: fantasy;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
}

::ng-deep .filter-modal {
    --max-height: 15rem;
    --border-radius: 16px;
    --background: #fff;
    margin: auto;
    padding: 2rem;
}

.modal-footer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.loading-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1280px) {
    .home-grid {
        padding: 0 5rem;
    }
}

@media (min-width: 1920px) {
    .home-grid {
        padding: 0 25rem;
    }
}