:host {
    ion-content {
        --background: var(--dark-blue);
    }
}

.home-grid {
    padding: 0;
}

h1 {
    font-family: fantasy;
}

@media (min-width: 1280px) {
    .home-grid {
        padding: 0 5rem;
    }
}

@media (min-width: 1920px) {
    .home-grid {
        padding: 0 25rem;
    }
}