<ion-content>
  <h2 class="ion-text-center">Pokédex</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let p of pokemons">
        <app-pokemon-card
          [pokemon]="p"
        >
        </app-pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin">
    <ion-button expand="block" (click)="loadPokemons()" [disabled]="loading">
      {{ loading ? 'Carregando...' : 'Carregar mais' }}
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </ion-button>
  </div>
</ion-content>
